* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a65f1;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* nav a {
  
} */

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

#landing {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  display: inline-block;
}

#profile {
  min-height: 300px;
  max-height: 400px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  border: #3a65f1 4px solid;
}

#name {
  margin-top: 10px;
  margin-bottom: 10px;
}

#intro {
  min-width: 200px;
  margin: auto;
}

#tools {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#tools-title {
  margin-bottom: 20px;
}

#tools-img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

#projects {
  text-align: center;
}

.card {
  background-color: #3a65f1;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-img {
  height: 400px;
  width: 600px;
}

footer {
  text-align: center;
  padding: 16px;
  margin: 4px;
  background-color: bisque;
}
